<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">About Azuree</a>
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Farmers Market</a>
        <a class="nav-link" routerLink="/hood" routerLinkActive="active">Produce Mapping</a>
        <a class="nav-link" routerLink="/services" routerLinkActive="active">Agri Info</a>
        <a class="nav-link" routerLink="/Businesses" routerLinkActive="active">Contacts</a>
        <button class="nav-link" routerLink="/Logout" routerLinkActive="active">Login</button>
        <button class="nav-link" routerLink="/Logout" routerLinkActive="active">Sign-Up</button>
      </div>
    </div>
  </nav>

  <div class="container">
    <a href=""> &nbsp; <i class="fa fa-twitter-square" aria-hidden="true" ></i></a>&nbsp;
    <a href=""> &nbsp; <i class="fa fa-facebook-square" aria-hidden="true" fa-lg></i></a>&nbsp;
    <a href=""> &nbsp; <i class="fa fa-linkedin-square" aria-hidden="true" fa-lg></i></a>&nbsp;
    <a href=""> &nbsp;<i class="fa fa-youtube-square" aria-hidden="true" fa-lg></i></a>&nbsp;
    <a href=""> &nbsp;<i class="fa fa-envelope" aria-hidden="true" fa-lg></i></i></a>

    <p class=top>Azuree Farm World</p>

  </div>
  <b></b>

  <div class = container>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>About Azuree</mat-icon>
      <span>Farm World</span>
    </button>
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>Azuree</mat-icon>
      <span>Agri Info</span>
    </button>
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>Farmers</mat-icon>
      <span>Market</span>
    </button>
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>Log</mat-icon>
      <span>In</span>
    </button>
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>Sign</mat-icon>
      <span>Up</span>
    </button>
    <button mat-menu-item class = "btn btn-success">
      <mat-icon>Contact</mat-icon>
      <span>Us</span>
    </button>
  </mat-menu>
</div>