<div class="container">
    <div>
    <h5>ABOUT AZUREE FARM WORLD</h5>
    <p>The green arm of Azuree World Limited (A Kenyan enterprise founded by youth and women) 
        was established to change youths’ narrative and perception of agri-business as an unattractive
         career of last resort, one of drudgery and low monetary benefits.
        Building on the principle of “leaving no one behind”, Azuree world is committed to contribute 
        in creating a conducive environment for the realization of the youth, women and persons 
        with disability engagement in Agricultural development initiatives and promoting equitable 
        livelihoods. Their potential to contribute to the sector and indeed to the overall 
        economic development is significant.
    </p>
    </div>
</div>
